body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    background-color: black;
    margin: 0px;
    min-height: 200vh;
    animation: fade 1.5s ease-in;
}

main {
    min-height: 90vh;
}

nav {
    display: flex;
    justify-content: space-between;
    border: 4px solid rgba(138, 247, 12, 0.744);
    min-width: 90vw;
    border-radius: 30px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 30px;

}

.Navbar ul li a {
    text-decoration: none;
    margin-left: 10px;
    gap: 10px;
    color: hsl(180, 100%, 97%);
}

.Navbar ul li a:hover {
    color: hsl(180, 100%, 87%);
    transition: 0.3s;
    cursor: pointer;
}

.icons {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

i {
    text-align: center;
    filter: invert(1);
}

i:hover {
    cursor: pointer;
}

.images {
    display: flex;
    justify-content: center;

}

.images img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
    border: 2px solid white;
    transition: transform 0.3s ease;
}

.images img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
}

#Home {
    border: 2px solid hsl(0, 0%, 100%);
    min-height: 30vh;
    width: 100%;
    margin: 10px auto;
    color: white;
    text-align: center;
    animation: slideInFromTop 2s ease-in-out;

}

#Home h2 {
    font-size: 2.8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px 1px rgba(212, 208, 208, 0.811);
    font-weight: bold;
}

#Home p {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 5px;
}

#About {
    margin-bottom: 30px;
    width: 80%;
    margin: 10px auto;
}

#About h2 {
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#About p {
    color: white;
    font-size: 1.8rem;
    font-family: sans-serif;
    margin-left: 10px;
}

mark {
    background-color: rgb(202, 60, 60);
}

#Contact {
    border: 3px solid white;
    width: 50%;
    height: 20vh;
    text-align: center;
    margin: 20px auto;
    color: azure;
    font-size: 1.2rem;
    font-family: sans-serif;
}

#Products {
    width: 100%;
    border: 4px solid white;
    margin: 10px auto;
    color: white;
    display: flex;
    text-align: center;
    flex-direction: row;
    animation: slideInFromBottom 1.5s ease-in-out;
}

#Products h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button {
    background-color: hsl(120, 100%, 25%);
    font-family: sans-serif;
    font-size: 1.2rem;
    border: none;
    color: white;
    border-radius: 20px;
    margin-bottom: 19px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

.button:hover {
    background-color: hsl(120, 100%, 15%);
}

.text {
    font-family: sans-serif;
    font-size: 1.2rem;
    margin-left: 45px;
    text-align: center;
}

.card img {
    height: 195px;
    width: 148px;
    transition: transform 0.5s, ease-in;
}

.card img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
}

.Sign-Up {
    display: none;
    flex-direction: column;
    animation: slideInFromTop 1s ease-in;
}

.Sign-Up fieldset {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Sign-Up fieldset input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30vw;
    margin: 5px 0px;
    font-size: 1.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 15px;


}

.Sign-Up fieldset input:hover {
    cursor: pointer;
    background-color: green;
}

.Sign-Up fieldset button {
    font-size: 1.5rem;
    text-align: center;
    border: none;
    color: white;
    background-color: hsl(120, 100%, 25%);
    border-radius: 20px;
}

.Sign-Up fieldset button:hover {
    background-color: hsl(120, 100%, 15%);

}

#cart-view {
    color: white;
    width: 100%;
    height: 50vh;
    border: 2px solid white;
    margin: 10px 0px;
    display: none;
    transition: slideInFromBottom 2s ease-in-out;
}

#cart-view img {
    height: 195px;
    width: 148px;
}

.added {
    background-color: gray;
    cursor: not-allowed;
}

.remove-btn {
    font-size: 1.5rem;
    text-align: center;
    background-color: hsl(0, 100%, 50%);
}

.remove-btn:hover {
    background-color: hsl(0, 100%, 40%);
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes rotateIn {
    from {
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes slideInFromTop {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

footer {
    color: white;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 0px 0px 15px white;
}